<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{form_id}}-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="{{form_id}}-label">{{ form_id == 'create-form' ? 'Create' : 'Edit' }}</h3>
  </div>
  <form id="{{form_id}}" class="modal-body form-horizontal" method="post">
    <div data-role="errors"></div>
    <input type="hidden" name="user[id]" value="{{user ? user.id : ''}}">
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-name">Name</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-name" name="user[name]" value="{{user ? user.name : ''}}" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-secret">Secret</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-secret" name="user[secret]" value="{{user ? user.secret : ''}}" placeholder="Secret">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-callerid">Callerid</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-callerid" name="user[callerid]" value="{{user ? user.callerid | escape : ''}}" placeholder="Callerid" data-role="callerid">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-context">Context</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-context" name="user[context]" value="{{user ? user.context : ''}}" placeholder="Context">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-pickupgroup">Pickupgroup</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-pickupgroup" name="user[pickupgroup]" value="{{user ? user.pickupgroup : ''}}" placeholder="Pickupgroup" pattern="\d*">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-callgroup">Callgroup</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-callgroup" name="user[callgroup]" value="{{user ? user.callgroup : ''}}" placeholder="Callgroup" pattern="\d*">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-nat">Nat</label>
      <div class="controls">
        <select id="{{form_id}}-nat" name="user[nat]">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="{{form_id}}-permit">Permit</label>
      <div class="controls">
        <input type="text" id="{{form_id}}-permit" placeholder="Permit" value="" name="user[permit][0]" style="width:100px;" data-role="permit0">
        <input type="text" id="{{form_id}}-permit" placeholder="Permit" value="" name="user[permit][1]" style="width:100px;" data-role="permit1">
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-success" form="{{form_id}}">{{ form_id == 'create-form' ? 'Create' : 'Edit' }}</button>
  </div>
</div>