<tr>
  <td>{{name}}</td>
  <td>{{secret}}</td>
  <td>{{callerid}}</td>
  <td>{{context}}</td>
  <td>{{pickupgroup}}</td>
  <td>{{permit}}</td>
  <td>{{nat}}</td>
  <td>{{ipaddr}}</td>
  <td>{{useragent}}</td>
  <td>
    <button data-role="edit" class="btn"><i class="icon-edit"></i></button>
    <button data-role="remove" class="btn btn-danger"><i class="icon-remove icon-white"></i></button>
  </td>
</tr>